body {
  margin: 0;
  padding: 0;
}
header > h1 {
  font-size: 2em;
  text-align: center;
  font-family: sans-serif;
  color: rgb(10, 161, 248);
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
article {
  margin: 30px 0;
}
img {
  max-height: 100%;
  max-width: 100%;
  margin-bottom: 10px;
}

footer {
  display: flex;
  padding-bottom: 1%;
  background-color: rgb(5, 154, 240);
  justify-content: center;
}
